@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');

html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Dosis', sans-serif;
    margin: 0;
}
h1,h2,h3{
    margin: 0;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
}
header{
    margin: 2rem 0;
}
header h1{
    text-align: center;
    line-height: 6rem;
    font-size: 4rem;
}
header h1 > strong{
    text-transform: uppercase;
}
main{
    max-width: 60rem;
    margin: 0 auto;
}
main section, main .form{
    padding: 1rem;
    border: solid .1rem #ccc;
    background-color: #fafafa;
}
section a::before{
    content: '\f023';
    font-family: 'FontAwesome';
    vertical-align: - 0.1rem;
    margin-right: .5rem;
}
section{
    margin-bottom: .2rem;
}
section h2{
    text-align: center;
}
.form input, .form label, fieldset input, fieldset label{
    display: block;
    width: 100%;
    margin-bottom: 1rem;

}
.form input, fieldset input{
    border: solid .1rem #ccc;
    line-height: 3.5rem;
    padding: .5rem;
}
.form input[placeholder],fieldset input[placeholder]{
    font-size: 1.6rem;
}
/* submit */
section a, form input[type="submit"]{
    display: block;
    line-height: 4rem;
    text-align: center;
    border: solid .1rem transparent;
    margin: .8rem auto 0;
    width: 30rem;
    background-color: #448Aff;
    color: #fff;
    border-radius: .3rem;
    font-size: 1.6rem;
}
.form{
    position: relative;
    z-index: -1;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.appear{
    z-index: 1;
    opacity: 1;
}
.warning, .success{
    background-color: rgb(200,0,0);
    color: #fff;
    text-align: center;
    margin-bottom: 1.0rem;
    display: none;
    line-height: 2.5rem;
    padding: 1rem;
}
.success{
    background-color: rgb(0,200,0);
}