/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&display=swap');
html{
    font-size: 62.5%;
    
}
body{
    font: 1.6rem 'Montserrat',sans-serif;
    margin: 0;
    overflow-x: hidden;
    background: rgb(127, 172, 240);
    animation: sky 3s infinite alternate-reverse;
   

}
@keyframes sky{
    from{
        background: rgb(127, 172, 240);
    }
    to{
        background: rgb(33, 103, 207);
    }
}
h1,h2,h3,p,ul,ol,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
button{
    border: 0;
    background-color: #ccc;
    font-size: 1.6rem;
}
/* in this page css theme */
:root{
    --color-default: #ccc;
    --color-primary: #2980b9;
    --color-success: #27ae60;
    --color-alert: #c0392b;
    --color-event: #e67e22;
    --color-header: #2c3e50;
}
header{
    margin-bottom: 5.0rem;
}
header,section h2{
    background-color: var(--color-header);
}
header h1, section h2{
    color: #fff;
    font-weight: 200;
    text-align: center;
    line-height: 8.0rem;
}
section ul li img, figure img{
    display: block;
    width: 100%;
}
figure li h2{
    color: #fff;
}
figure ul li + li{
    text-align: left;
}
section h2{
    line-height: 4.5rem;
    background-color: var(--color-alert);
}
section:nth-child(2) > h2{
    background-color: var(--color-success);
}
header h1::before, header h1::after{
    content:' - ';
}
section, footer{
    max-width: 80rem;
    padding: 1.0rem;
    border: solid 0.1rem transparent;
    background-color: #fafafa;
    margin: 0 auto 1rem;
    box-shadow: 0 0 1.0rem var(--color-header);
}
section > p, section ul li{
    line-height: 2.6rem;
    padding: .5rem 0;
}
footer *{
    text-align: center;
}
.warning, .success{
    text-align: center;
    color: var(--color-alert);
    line-height: 2.5rem;
    cursor: pointer;
}
.header_class{
    filter:grayscale(100%);
}
.success{
    color: var(--color-success);
}
section button{
    display: block;
    width: 100%;
    padding: 0.8rem;
    line-height: 3.5rem;
    background-color: var(--color-success);
    text-transform: uppercase;
    color: #fff;
    border-radius: .8rem;
    cursor: pointer;
}
section p{
    display: none;
    text-align: center;
}
figure{
    max-width: 40rem;
    margin: 0 auto;
    
    text-align: center;
}
figure .dark{
    display: inline-block;
    /* filter */
    filter: grayscale(100%);
    transition-duration: 0.7s;
}
figcaption h2{
    cursor: pointer;
    color: #222;
}
figure .light{
    filter: grayscale(0);
    transition-duration: 0.7s;
    
}
figure .anim{
    animation: led 2s linear infinite;
}
@keyframes led{
    0%{
        filter: grayscale(0); 
    }
    10%{
        filter: grayscale(100%);
    }
    20%{
        filter: contrast(150%);
    }
    30%{
        filter: invert(25%);
    }
    40%{
        filter: saturate(20%);
    }
    50%{
        filter: sepia(60%);
    }
}
.bglight{
    background-color: #fff;
    
    transition-duration: 0.8s;
}
.random{
    animation: bgc 1s linear infinite;
}
section p{
    display: block;
}
@keyframes bgc{
    0%{
        background: rgb(0, 0, 0);
    }
    10%{
        background: rgb(218, 14, 14);
    }
    20%{
        background-color: rgb(214, 214, 24);
    }
    30%{
        background-color: #fff;
    }
}
.bgdark{
    background-color: #222;
    
}
.slide{
    position: relative;
    z-index: 1;
    transform: translateX(-200rem);
    transition: all 0.5s ease-in-out;
}
.slide-on{
    transform: translateX(0);
}
.picture{

    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    
    
}

.icone, .icone_1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10.0rem;
    transform: translateX(200rem);
    animation: duck 4s linear infinite;
    z-index: 1;
    
}
.icone_1{
    top: 40%;
    left: 40%;
    animation: duck 3s linear infinite alternate-reverse;
    
}
@keyframes duck{
    from{
        transform: translateX(200rem)rotate(0deg);
    }
    to{
        transform: translateX(-200rem)rotate(360deg);
    }
}

.icone img, .icone_1 img{
    display: block;
    width: 100%;
    cursor: pointer;
}
.picture img{
    display: inline-block;
    max-width: 100%;
    cursor: pointer;

}
.arret{
    animation-play-state: paused;
}
.alert_warning{
    background-color: rgb(92, 5, 5);
    max-width: 40rem;
    left: 2.6rem;
    padding: .8rem;
    margin: 0 auto 1.0rem;
}
section p{
    cursor: pointer;
}